doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Movies Database

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      header
        a(href='index.pug')
          img(src='/images/logo.jpg', alt='logo')
      main
        form#contact
          fieldset
            legend Send Us a Message
            label NAME
            input(type='text', name='name')
            label ADDRESS
            input(type='text', name='address')
            label EMAIL
            input(type='email', name='email')
            label PHONE
            input(type='tel', name='phone')
            label YOUR MESSAGE
            textarea(name='comments', rows='10')
            input(type='submit', value='Send it!')
      footer
        ul
          li Copyright 2019 ©
          li All Rights Reserved
          li Web Designed by Team

