doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Movies Database
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
      #wrapper
        header
          a(href='index.pug')
            img(src='/images/logo.jpg', alt='logo')
        main
          h1= title
          p Welcome to #{title}
          p #{message}

          table
            thead
            tr
              th ID
              th Title
              th Director
              th Actor 1
              th Actor 2
              th Actor 3
              th Genre
              th Language
              th Content
              th Year
              th Budget
              th IMDB Rating
            tbody
            for object in result
              tr
                for subobject in object
                  td= subobject
        form#DeleteForm(method="POST" action="/delete")
          | DeleteID:
          input(type="text" name="deleteid")
          input(type="submit" value="Submit")
        footer
          ul
            li Copyright 2019 ©
            li All Rights Reserved
            li Web Designed by Team Awesome
            li
              a(href='contact.pug') Contact
